/* navbar */
#navbar .logo {
    float: none;
    text-align: center;
}

#navbar ul, #navbar ul li {
    float: none;
}

#navbar ul li a {
    padding: 5px;
    border-bottom: #444 dotted 1px;
    
}
/* showcase */
#showcase {
    height: 100%;
}
#showcase .showcase-content {
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

/* home-info */

#home-info .infoimg {
    display: none;
}
#home-info .info-content {
    /* display: inline-block; */
    float: none;
    width: 100%;
    }
    /* boxes */
    .box {
        float: left;
        width: 100%;
    }

    #about-info .info-right,
    #about-info .info-left {
        float: none;
        width: 100%;
    }
    .large-heading {
        text-align: center;
    }
    #about-info .info-right img {
        padding-top: 20px;
    }

    #testimonials h2 {
        padding-top:30px;
        line-height: 2px;
        text-align: center;
        display: inline-block;
        font-size: 170%;
        width: 100%;
    }
    /* contact */
    #contact-info .box {
        border-bottom: #444 dotted 1px;
    }
    #contact-form h1 {
        margin-top: 15px;
    }